
<style>

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }


</style>

<gcds-container id="main" size="xl" tag="main" main-container centered>

  <gcds-heading tag="h1">Hello, world!</gcds-heading>
  <gcds-text>
    This is a simple Angular app that uses the GC Design System. It is a good starting point for building a new Angular app with the GC Design System.
  </gcds-text>

</gcds-container>

<router-outlet />
