<section>
  <gcds-heading tag="h1" i18n="@@common.pageTitle.home">Home</gcds-heading>
  <gcds-text i18n>
    Welcome to the Angular Starter App that leverages GC Design System
    components!
  </gcds-text>
  <gcds-text i18n>
    This starter app template is designed to help developers quickly set up a
    modern Angular application while adhering to the accessibility and design
    standards set by the Government of Canada.
  </gcds-text>
  <gcds-text i18n>
    You'll find all the necessary setup, including Angular Routing, ESLint for
    linting, Jasmine for unit testing, &#64;angular/localize for localization
    and a selection of GCDS components to get you started on your project.
  </gcds-text>
</section>
<gcds-date-modified date="2025-07-04"></gcds-date-modified>
