/* App CSS */

gcds-fieldset:has( > gcds-radio-group),
gcds-fieldset:has( > gcds-checkbox) {
  --gcds-fieldset-font-desktop: var(--gcds-label-font-desktop);
}

@media only screen and (width < 48em) {
  gcds-fieldset:has( > gcds-radio-group),
  gcds-fieldset:has( > gcds-checkbox) {
    --gcds-fieldset-font-mobile: var(--gcds-label-font-mobile);
  }
}