/* App CSS */

/* General */
table {
  width: 100%;
}

table img {
  width: 3rem;
}

@media only screen and (width < 40em) {
  table thead {
    display: none;
  }

  table td {
    display: block;
  }
}

gcds-fieldset:has( > gcds-radio-group),
gcds-fieldset:has( > gcds-checkbox) {
  --gcds-fieldset-font-desktop: var(--gcds-label-font-desktop);
}

@media only screen and (width < 48em) {
  gcds-fieldset:has( > gcds-radio-group),
  gcds-fieldset:has( > gcds-checkbox) {
    --gcds-fieldset-font-mobile: var(--gcds-label-font-mobile);
  }
}
.next-holiday-homepage {
  background: url('/backgrounds/federal.png') top center no-repeat;
  background-size: cover;
  width: 100vw;
  color: var(--gcds-color-blue-800);
}

.next-holiday-homepage div {
  max-width: 62ch;
}
