/* App CSS */

/* General */
table {
  width: 100%;
}

table img {
  width: 3rem;
}

@media only screen and (width < 40em) {
  table thead {
    display: none;
  }

  table td {
    display: block;
  }
}
