<gcds-header langHref="#">
  <gcds-search slot="search"></gcds-search>
  <gcds-top-nav slot="menu" alignment="right" label="Top navigation">
    <gcds-nav-link routerLink="/" [current]="true" slot="home">
      Home
    </gcds-nav-link>
    <gcds-nav-link href="#">Why GC Notify</gcds-nav-link>

    <gcds-nav-group open-trigger="Features" menu-label="Features">
      <gcds-nav-link href="#">Create reusable templates</gcds-nav-link>
      <gcds-nav-link href="#">Personalize messages</gcds-nav-link>
      <gcds-nav-link href="#">Schedule messages</gcds-nav-link>
      <gcds-nav-link href="#">Send messages automatically</gcds-nav-link>
    </gcds-nav-group>

    <gcds-nav-link href="#">Contact us</gcds-nav-link>
  </gcds-top-nav>

  <gcds-breadcrumbs slot="breadcrumb">
    <gcds-breadcrumbs-item href="#">Home page</gcds-breadcrumbs-item>
    <gcds-breadcrumbs-item href="#">Parent page link</gcds-breadcrumbs-item>
  </gcds-breadcrumbs>
</gcds-header>
<gcds-container size="xl" tag="main">
  <router-outlet></router-outlet>
</gcds-container>
<gcds-footer display="full"></gcds-footer>
