.section-tan-stack {
  .table-container {
    /* max-height: 30rem; */
    /* overflow-y: auto; */

    table {
      table-layout: fixed;
      border-collapse: collapse;
      width: 100%;
      font: var(--gcds-font-text-small);

      @media only screen and (width < 48em) {
        font: var(--gcds-font-text-small-mobile);
      }

      thead th,
      tbody td {
        padding: var(--gcds-spacing-100);
      }

      thead {
        z-index: 1;
        position: sticky;
        top: 0;
        background: var(--gcds-color-grayscale-100);

        th {
          text-align: left;

          button {
            font: inherit;
            background: none;
            border: none;

            &:focus {
              background-color: var(--gcds-button-shared-focus-background);
              color: var(--gcds-button-shared-focus-text);
              border-radius: var(--gcds-link-focus-border-radius);
              outline: var(--gcds-button-shared-focus-outline-width) solid
                var(--gcds-button-shared-focus-background);
              outline-offset: var(--gcds-button-border-width);
              border-color: var(--gcds-button-shared-focus-background);
              box-shadow: var(--gcds-button-shared-focus-box-shadow);
            }
          }
        }
      }

      tbody {
        tr {
          @media (width < 640px) {
            border-block-end: 1px solid var(--gcds-border-default);

            &:first-of-type {
              border-block-start: 1px solid var(--gcds-border-default);
            }
          }

          td {
            @media (width >= 640px) {
              border-block-end: 1px solid var(--gcds-border-default);
            }
          }
        }
      }
    }
  }
}
