@import "https://unpkg.com/gridjs@6.2.0/dist/theme/mermaid.min.css";
.gridjs-table.gcds-table{
  /*font-size: 20px;*/
}
.gridjs-table.gcds-table th{
  background-color: var(--gcds-color-blue-700);
  color: var(--gcds-color-white);
  border: 1px solid var(--gcds-color-grayscale-50);
  padding: 6px 8px;
}

.gridjs-table.gcds-table td{
  padding: 2px 8px;
}