<gcds-heading tag="h1" i18n="@@common.pageTitle.about">About</gcds-heading>
<gcds-text i18n="About Page Main Content">
  This Angular starter template integrates Design System components, providing a
  solid foundation for building modern, responsive web applications. It
  streamlines development by offering pre-built, customizable UI elements that
  ensure design consistency and flexibility. Perfect for both small-scale
  projects and large applications, this template helps you focus on delivering a
  polished user experience with minimal setup.
</gcds-text>
<gcds-link routerLink="about/topic" i18n="@@common.pageTitle.about.topic">
  Topic
</gcds-link>
<gcds-date-modified date="2024-07-04"></gcds-date-modified>
